
:root {
    --text-color: #2E005D;
    --text-color-v:#f4f2f7;
    --background-color: #ffffff;
    --primary-color: #56E6DA;
    --primary-color-lighter: #ddf8f3;
    --primary-color-lighterX:#f6faf7;
    --secondary-color: #CD1D7E;
    --secondary-color-light: #f0bbd8;
    --secondary-color-lighter: #fae8f2;
    --accent: #FF6B7A;

    /*DarkMode Colors*/
    --d-text-color: #D1A3FF;
    --d-background-color: #232323;
    --d-primary-color: #19A99D;
    --d-primary-color-light: #223f3c;
    --d-primary-color-lighter:#232a2a;
    --d-secondary-color: #E23292;
    --d-secondary-color-light: #4a273a;
    --d-secondary-color-lighter: #37252f;
    --d-accent: #D76571;
}


* {
    margin: 0;
    
}


.mainPage {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color-lighterX);
    /* background: linear-gradient(
        to bottom,
        var(--primary-color),
        var(--secondary-color-light) 70%);
    background-attachment:fixed; */
       
}


.article {
    max-width: 1000px;
    min-width: 1000px;
    margin: 0 auto;
    padding: 0px 20px;
    font-family: "Montserrat", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}


.article h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 6vh;
    margin: 0px;
}


/* Article content */

.content-article h2:nth-child(1) {
    font-size: 40px;
    font-weight: 700;
    padding: 40px 0px;
}

.content-article p {
    font-size: 20px;
    font-weight: 400;
}

.content-article p:nth-child(3) {
    font-weight: 500;
    padding: 40px 0px;
    
}




/* Estilos title */

.title-container {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    
    
    
}
.title-container h1:nth-child(1) {
    font-size: 40px;
    color: var(--secondary-color);
    font-weight:800;
}

.title-container h1:nth-child(2) {
    background-color: var(--accent);
    border-radius: 15%;
    background-size: 1px;
    color: white;
    margin-left: 2px;
    font-size: 35px;
    font-weight: 800;
    padding: 2px;
}

/* Estilos navbar */



.nav-bar {
    display: flex;
    background-color: var(--background-color);
}

.nav-bar-container {
    display: flex;
    justify-content:center;
    border-bottom: 2px solid var(--accent);
    background-color: var(--background-color);
    width: 100%;
    max-width: 1000px;
    min-width: 1000px;
    margin: 0 auto;
    padding: 0px 20px;
    animation: fadeInUp 0.7s ease;
}

/*Navbar*/
.nav-bar-container-sticky {

    display: flex;
    justify-content:center;
    align-items: center;
    border-bottom: 2px solid var(--accent);
    background-color: var(--background-color);
    width: 100%;
    max-width: 1000px;
    min-width: 1000px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0px 20px;
    animation: fadeInDown 0.7s ease;
}


.nav-bar-container nav:nth-child(6) {
    padding-right: 320px;
}

/* .nav-bar-container ul {

    
} */

/* menu */
.nav-bar-menu-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
    
    
}
.nav-bar-menu {
    padding: 0px
}

.nav-bar-menu li {
    display: flex;
    justify-content: start;
    padding: 8px;
}


.nav-bar-menu li a {
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 14px;
    transition: 0.5s;
    
}

.nav-bar-menu li a:hover {
    color: var(--secondary-color);
}

/* Estilo mensaje button */

.message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
    z-index: 1;
    background: white;
    padding: 20px;/* Ajusta el valor de zIndex para asegurarte de que esté por encima de otros elementos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* opacity: 0;
    transition: opacity 0.5s ease-in-out; */
  }

/* .message.show {
    opacity: 1;
  } */

/* Estilos buttons */
.symbols-container .buttons-container div {
    padding-bottom: 50px;
}


.buttons-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    padding: 40px 0px;

}

.buttons-container {
    background-color: var(--text-color-v);
    margin: 40px 0px;
    border-radius: 15px;
}

.button-symbols-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px; /* Espacio entre los botones */
    padding: 0px 20px;
}

.button-symbols-container button {
    min-width: 5vh;
    min-height: 4vh;
    font-size: 20px;
    font-weight: 700;
    font-family: system-ui;
    /* border: 1px solid #3f3f3f; */
    border: none;
    border-radius: 20%;
    background-color: var(--secondary-color-light);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.button-symbols-container button:hover {
    background-color: var(--secondary-color-light);
    transform: translateY(-5px);
    
}

.button-symbols-container button:active {
    animation: clicAnimacion 0.15s ease-in-out;
    background-color: var(--secondary-color);
    
}

/*Animación buttons*/

@keyframes clicAnimacion {
    0% {
        transform: translateY(-5px);; /* Escala normal al inicio de la animación */
        
    }
      50% {
        
        transform: translateY(-2.5px);; /* Escala más pequeña a la mitad de la animación */
      }
      100% {
        transform: translateY(-5px);; /* Vuelve a la escala normal al final de la animación */
        }
    }

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0.5;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}





