* {
    margin: 0;
    
}

.mainPage {
    margin: 0;
    padding: 0;
    /* background-color: #C9A690; */
    background-size: 'cover';
    
}

.article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 20px;
    font-family: "Quicksand", sans-serif; 
    background-color: white;
    border-right: 1px solid rgb(201, 201, 201);
    border-left: 1px solid rgb(201, 201, 201);
    box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.3);

}


.article h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 6vh;
    margin: 0px;

}
/* Estilos title */

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2B59C3;
    
    
}
.title-container h1:nth-child(1) {
    font-style: italic;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight:bold;
}

.title-container h1:nth-child(2) {
    
    background-color: #ff7d49;
    border-radius: 15%;
    background-size: 1px;
    color: white;
    margin-left: 3px;
    font-size: 40px;
    padding: 2px;
}

/* Estilos navbar */



.nav-bar {
    display: flex;
    background-color: #2B59C3;
    
}

.nav-bar-container {
    display: flex;
    justify-content:center;
    border-bottom: 1px solid rgb(201, 201, 201);
    background-color: #2B59C3;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 970px;
    margin: 0 auto;
    padding: 0px 35px;
}

.nav-bar-container nav:nth-child(6) {
    padding-right: 320px;
}

/* .nav-bar-container ul {

    
} */

/* menu */
.nav-bar-menu-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
    
}
.nav-bar-menu {
    padding: 0px
}

.nav-bar-menu li {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
    
    
}


.nav-bar-menu li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 14px;
    
}

.nav-bar-menu li:hover {
    background-color: rgba(255, 255, 255, 0.055);
    transition: background-color 0.3s ease;
}

.nav-bar-menu li:active {
    animation: clicAnimacion 0.15s ease-in-out;
    background-color: rgba(255, 255, 255, 0.103);
}

/* Estilos buttons */

.button-arrow-container, .button-circle-container {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px; /* Espacio entre los botones */
}

.button-arrow-container button, .button-circle-container button {
    min-width: 5vh;
    min-height: 5vh;
    font-size: 20px;
    font-family: system-ui;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 20%;
    background-color: rgb(245, 245, 245);
    
    cursor: pointer;
}

.button-arrow-container button:hover, .button-circle-container button:hover {
   background-color: rgb(226, 226, 226);
}

.button-arrow-container button:active, .button-circle-container button:active {
    animation: clicAnimacion 0.15s ease-in-out;
    background-color: rgb(199, 199, 199);
}

/*Animación buttons*/

@keyframes clicAnimacion {
    0% {
        transform: scale(1); /* Escala normal al inicio de la animación */
      }
      50% {
        
        transform: scale(0.95); /* Escala más pequeña a la mitad de la animación */
      }
      100% {
        transform: scale(1); /* Vuelve a la escala normal al final de la animación */
      }
    }




